* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


/* containeres */
.center-container {
    width: 80%;
    margin: 0 10%;
    max-width: 1300px;
}

.full {
    width: 100%;
    position: relative;
    display: block;
}

/* header */
header, 
section {
    display: flex;
    justify-content: center;
}

header {
    background: #91B7D5;
    padding: 100px 0 40px;
}

header h1 {
    width: 70%;
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    color: #FFFFFF;
    text-align: left;
    float: left;
}

.logo {
    width: 25%;
    float: right;
}

.logo img {
    float: left;
    width: 100%;
    margin-top: -30px;
}


/* home */
.subtitle-home {
    background: #896CDB;
    padding: 30px 0;
}

.subtitle-home h3 {
    width: 100%;
    font-weight: normal;
    font-size: 26px;
    color: white;
    text-shadow: 0 0 1px white;
}


/* convidados */
.convidados {
    width: 100%;
}

.convidados h2 {
    width: 100%;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: #414141;
    margin: 100px 0;
}

.convidados-content {
    display: flex;
    justify-content: space-between;
}

.desc-convidados {
    width: 49%;
    margin-bottom: 100px;
}

.desc-convidados img {
    width: 60%;
    margin-left: 20%;
    border-radius: 500px;
}

.desc-convidados-info {
    width: 60%;
    margin: 30px 20% 0;
}

.nome-convidado {
    font-size: 25px;
    font-weight: bold;
    color: #222;
}

.cargo-convidado {
    font-weight: bold;
    font-size: 16px;
    color: gray;
    margin: 5px 0 15px;
    border-top: 1px solid #cbcbcb;
}

.descricao-convidado {
    font-size: 18px;
    color: gray;
}

.linkedin-convidado {
    margin-top: 15px;
    float: left;
}


/* contagem */
.contagem {
    margin-bottom: 200px;
}

.tabela{
    width: 711px;
    height: 110px;
    font-weight: bold;
    text-align: center;
    background:#F4F4F4;
    color: #896CDB;
    padding: 10px;
    margin: auto;
    border-radius:100px 100px    
}

.cont{
    font-size: 64px;
    line-height: 120%;
}

.tabela2{
height: 50px;
font-size: 24px;
line-height: 120%;
}

td{
    width: 25%;   
}
/* contagem */


/* Formulário */
.formulario {
    background: #91B7D5;
}

.formulario .center-container {
    display: flex;
    justify-content: center;
}

.formulario form {
    background: #F4F4F4;
    width: 500px;
    height: 520px;
    margin: -150px 0 250px;
    padding: 20px;
}

.form-title {
    width: 100%;
    margin-bottom: 35px;
    color: #222;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    display: block;
}

.input-container {
    padding: 0 70px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
}

.input-container label,
.input-container input {
    display: block;
    width: 100%;
    
}
.input-container label {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 5px;
}

.input-container input {
    background: #FFFFFF;
    border: 1px solid #CFCFDB;
    border-radius: 4px;
    height: 50px;
    padding: 10px;
    font-size: 18px;
    color: gray;
}

.formulario form button {
    background: #896CDB;
    border-radius: 4px;
    width: 60%;
    height: 60px;
    line-height: 55px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all .2s ease;
    margin: 25px 20% 20px;
    box-shadow: 0 2px 7px rgba(0, 0, 0, .7);
}

.formulario form button:hover {
    background: white;
    color:#896CDB;
    border: 1px solid #896CDB;
}

.texto-spam {
    background: rgba(248, 161, 112, 0.34);
    width: 90%;
    margin: 10px 5% 25px;
    padding: 5px;
    color: #222;
    font-size: 16px;
    text-align: center;
}
/* Formulário */

/* Footer */
footer {
    background: #414141;
    padding: 30px 0 30px 5%;
    color: white;
    text-align: left;
    width: 100%;
}
/* Footer */


/* responsivo - media queries */
@media screen and (max-width: 1024px) {
    .logo {
        display: none;
    }

    .convidados-content {
        display: block;
        justify-content: unset;
    } 

    .desc-convidados {
        width: 90%;
        margin: 0 5% 130px;
    }

    .formulario form {
        width: 96%;
        height: auto;
        padding-bottom: 30px;
    }

    
    .input-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .formulario form button {
        width: 90%;
        margin-left: 5%;
    }
}

@media only screen and (max-width: 800px) {
    .tabela {
         max-width:550px;
    }

    .cont {
        font-size: 34px !important;
    }

    .tabela2 {
        font-size: 20px !important;
    }
  }

@media only screen and (max-width: 600px) {
    .tabela {
        display: none;
    }
  }